* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: linear-gradient(-45deg, #9008b3, #6e1860, #501646, #050505);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.about-section {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.contact-section {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.typing-content h1 {
    color: white;
    font-size: 1.7rem;
    overflow: hidden;
    border-right: .2rem solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .2rem;
    animation:
        typing 2.5s steps(30, end),
        cursor .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes cursor {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}


@keyframes slidingLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
}

.main-screen {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
    font-size: 40pt;
    animation: 1s slidingLeft;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    visibility: hidden;
}

.main-screen h2 {
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.main-image-section {
    width: 24rem;
    height: 22rem;
}

.main-image-dot {
    width: 6rem;
    height: 6rem;
    background-color: rgb(184, 88, 184, 0.2);
    border-radius: 50%;
    position: relative;
    left: 50px;
    animation: moving 2s linear infinite;
}

.main-image-dot2 {
    width: 6rem;
    height: 6rem;
    background-color: rgb(117, 64, 110, 0.4);
    border-radius: 50%;
    position: relative;
    left: 70%;
    margin-top: 270px;
    animation: moving 2s linear infinite;
}

.main-image-propers {
    width: 24rem;
    height: 22rem;
    position: absolute;
    animation:
            moving 2s linear infinite;
    bottom: 0;
}

@keyframes moving {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 10px;
    }
}

.main-screen-headers {
    margin-top: 6rem;
}

h2:hover {
    color: white;
}

@keyframes slidingRight {
    0% {
        transform: translateX(+100%);
        opacity: 0;
    }
    100% {
        transform: (translateX(0));
        visibility: visible;
        opacity: 1;
    }
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40rem;
    font-size: 1rem;
    color: white;
    animation: 1s slidingRight;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    visibility: hidden;
}

.sign {
    width: 1.7rem;
    height: 0.2rem;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: rgb(219, 119, 135);
}