* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: linear-gradient(-45deg, #9008b3, #6e1860, #501646, #050505);
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.typing-content h1 {
    color: white;
    font-size: 40pt;
    overflow: hidden;
    border-right: .2rem solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .2rem;
    animation:
        typing 2.5s steps(30, end),
        cursor .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes cursor {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

.main-screen {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    font-size: 40pt;
}

.main-screen h2 {
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.main-image {
    width: 33rem;
    height: 30rem;
}

.main-image-propers {
    width: 33rem;
    height: 30rem;
}

.main-screen-headers {
    margin-top: 6rem;
}

h2:hover {
    color: white;
}

.main-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 40rem;
    font-size: 1.1rem;
    color: white;
}

.sign {
    width: 1.7rem;
    height: 0.2rem;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: rgb(219, 119, 135);
}