* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 23rem;
    border-radius: 0.5rem;
    background-color: rgba(8, 7, 7, 0.06);
}

.password-reminder {
    color: #ee26dd;
    padding: 0.7rem;
    font-size: 0.6rem;
}

.password-reminder:hover {
    text-decoration: underline;
}

.login-form-header {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin-bottom: 1rem;
    color: white;
    padding: 0.5rem;
}

.login-form-label {
    color: whitesmoke;
    font-size: 0.9rem;
}

.login-form-input {
    width: 17rem;
    height: 2rem;
    border: none;
    font-size: 0.7rem;
    padding: 0.5rem;
    background-color: transparent;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    border: none;
    border-bottom: 2px solid #b46cf8;
    color: white;
}

.login-form-input:focus {
    outline: none;
}

.login-form-submit {
    width: 20rem;
    height: 2rem;
    margin: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: rgb(159, 233, 159);
    color: white;
    font-size: 0.8rem;
}

.login-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: aliceblue;
    font-size: 2rem;
}

.login-back-icon {
    cursor: pointer;
}

.login-form-submit:hover {
    background-color: lime;
    color: whitesmoke;
    transition: 1s;
}

.login-form-feedback {
    color: #db094f;
    font-weight: bold;
    font-size: 0.9rem;
}

.login-to-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    color: white;
    font-size: 0.7rem;
}

.login-to-register-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ee26dd;
}

.login-to-register-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .login-form {
        width: 100%;
    }

    .login-form-submit {
        width: 90%;
    }

    .login-form-input {
        width: 90%;
    }

    .pass-management {
        width: 90%;
    }
}