* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

.navbar {
    background-color: #E91E63;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 2rem;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.navbar-header-icon {
    font-size: 3.5rem;
    font-weight: bold;
}

.navbar-header-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: fantasy;
}

.navbar-header-title-content {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 5rem;
}

.navbar-item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: black;
    height: 5rem;
}

.navbar-link {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem;
    height: 5rem;
}

.activated {
    color: white;
    border-bottom: 5px solid white;
}

.navbar-mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .navbar-menu {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navbar-menu.active {
        background: #232324;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
    }

    .navbar-link {
        text-align: center;
        padding: 2rem;
    }

    .navbar-mobile-menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        font-size: 3rem;
        padding: 0.5rem;
    }
}