* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

.note {
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 12rem;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 1rem;
}

.note-title {
    width: 8rem;
    height: 2rem;
    text-align: center;
    bottom: 1px solid black;
}

.note-content {
    height: 8rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    overflow: auto;
}

.note-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.note-footer-date {
    margin-right: 2rem;
}

.note-footer-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d47171;
    border-radius: 5px;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}