* {
    box-sizing: border-box;
}

html {
    font-size: 20pt;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-info {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: aliceblue;
}

.user-content {
    background-color: rgba(8, 7, 7, 0.06);
    width: 20rem;
    height: 12rem;
    border-radius: 10px;
}

.user-info-name {
    font-size: 0.8rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(80, 79, 79, 0.6);
}

.user-info-email {
    font-size: 0.8rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(80, 79, 79, 0.6);
}

.user-info-password {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15rem;
}

.header {
    color: aliceblue;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(80, 79, 79, 0.6);
}

.h {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: aliceblue;
    font-weight: bold;
    width: 20rem;
}

.h-icon {
    position: absolute;
    font-size: 1.7rem;
    cursor: pointer;
}

.h-name {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.users-data {
    margin-top: 0.2rem;
    font-size: 0.7rem;
    color: rgba(180, 175, 175, 0.9);
}