* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    width: 23rem;
    border-radius: 0.5rem;
    background-color: rgba(8, 7, 7, 0.06);
}

.register-form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: white;
}

.register-form-input {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    width: 17rem;
    height: 2rem;
    font-size: 0.7rem;
    background-color: transparent;
    color: aliceblue;
    border: none;
    border-bottom: 2px solid #b46cf8;
    border-radius: 0.25rem;
}

.register-form-input:focus {
    outline: none;
}

.register-form-submit {
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
    background-color: rgb(159, 233, 159);
    color: white;
    border: none;
    border-radius: 0.25rem;
}

.register-form-submit:hover {
    background-color: lime;
    transition: 1s;
    color: white;
}

.register-form-input-label {
    font-size: 0.9rem;
    color: white;
}

.register-form-password-reminder {
    color: #ee26dd;
    padding: 0.7rem;
    font-size: 0.6rem;
}

.register-form-password-reminder:hover {
    text-decoration: underline;
}

.register-to-login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin-top: 0.1rem;
    font-size: 0.7rem;
}

.register-to-login-link {
    text-decoration: none;
    color: #ee26dd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-to-login-link:hover {
    text-decoration: underline;
}

.register-form-feedback {
    padding: 1rem;
    color: #db094f;
    font-size: 0.8rem;
}

.register-form-valid-text {
    font-size: 1rem;
    color: #db094f;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .register-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
        background-color: #555353;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 0.5rem;
    }

    .register-form-header {
        font-size: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-form-submit {
        width: 90%;
    }

    .register-form-input {
        width: 90%;
    }

    .register-form-submit {
        background-color: #E91E63;
        color: aliceblue;
    }
}