* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    background-color: #555353;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    border-radius: 0.5rem;
}

.register-form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    width: 30rem;
    background-color: #E91E63;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: white;
}

.register-form-input {
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #333333;
    color: aliceblue;
    border: none;
    border-radius: 0.25rem;
}

.register-form-submit {
    padding: 0.3rem;
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #be8095;
    margin: 0.5rem;
    border: none;
    border-radius: 0.25rem;
}

.register-form-submit:hover {
    background-color: #E91E63;
    transition: 1s;
    color: white;
}

.register-form-input-label {
    margin: 0.5rem;
    font-size: 1.1rem;
    color: white;
}

.register-form-password-reminder {
    color: #E91E63;
    padding: 1rem;
    font-size: 0.8rem;
}

.register-form-password-reminder:hover {
    text-decoration: underline;
}

.register-to-login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin-top: 1rem;
}

.register-to-login-link {
    text-decoration: none;
    color: #E91E63;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-to-login-link:hover {
    text-decoration: underline;
}

.register-form-feedback {
    padding: 1rem;
    color: #E91E63;
    font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
    .register-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
        background-color: #555353;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 0.5rem;
    }

    .register-form-header {
        font-size: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-form-submit {
        width: 90%;
    }

    .register-form-input {
        width: 90%;
    }

    .register-form-submit {
        background-color: #E91E63;
        color: aliceblue;
    }
}