* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background: linear-gradient(-45deg, #9008b3, #6e1860, #501646, #050505);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
